/*
    Document   : form.css
    Created on : 4 oct. 2012, 14:11:39
    Author     : tto
    Description:
        Purpose of the stylesheet follows.
*/

/* ---------- Form ----------- */

.form-type-radio {
  display:inline;
}

.form-type-radio label{
  display:inline;
  float: none;
}

.password-strength {
  float: none;
  margin-bottom: 1.4em;
}

.password-confirm {
  float: none;
  margin-top: 0;
  width: 300px;
  padding:10px;
}

input[type="text"],
input[type="password"]{
  width: 340px;
  height: 31px;
  border: 0;
  margin: 0;
  padding: 0 5px;
  line-height: 31px;
}

.form-textarea-wrapper{
  clear: both;
}

.form-textarea-wrapper textarea {
  font-size: 13.3333px;
  border: 0;
}

form div.description {

}

span.fieldset-legend {

}

/* ---------- Select ----------- */

.chzn-search input[type=text] {
  height: auto;
}

.select-wrapper {
  display: block;
  height: 25px;
}

.select-wrapper-left,
.select-wrapper-right {
  background: url('../images/form-sprite.png') no-repeat left top;
  padding: 0;
  height: 25px;
  display: block;
  float: left;
  padding: 0 0 0 4px;
}

.select-wrapper-right {
  background-position: right top;
  width: 4px;
  padding: 0;
}

.select-wrapper select,
.hierarchical-select-wrapper .hierarchical-select select {
  background: none;
  border: none;
  display: block;
  height: 25px;
  line-height: 25px;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}

.hierarchical-select .select-wrapper {
  float: left;
  margin-right: .5em;
}


/* ---------- Partial dates textfield ----------- */
.field-type-partial-date-range {
  position: relative;
  height: 31px;
}
.field-type-partial-date-range label {
  width: 125px;
}

.field-type-partial-date-range .description,
.field-type-partial-date-range .element-invisible {
  display: none;
}

.field-type-partial-date-range .form-item {
  margin: 0;
}

.field-type-partial-date-range .form-type-partial-datetime-textfield-element,
.field-type-partial-date-range .partial-date-separator {
  float: left;
}
.field-type-partial-date-range .partial-date-separator {
  height: 31px;
  line-height: 31px;
  margin-right: 0.5em;
  width: 100px;
  text-align: center;
}

.field-type-partial-date-range input {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  width: 26px;
  text-align: center;
}
.field-type-partial-date-range .partial-date-year input {
  width: 52px;
}

.chzn-container-single .chzn-single {
  background: transparent;
}

.chzn-container-single .chzn-single span {
  margin-right: 1px;
}

.chzn-container .chzn-results {
  background: white;
}

.chzn-container-single {
  background: url('../images/form-sprite.png') no-repeat left top;
}

select.chzn-done {
  display: none !important;
}

/* ---------- Postal codes / city textfields ----------- */
form .field-name-field-postal-code{
    width : 200px;
}

form .field-name-field-postal-code input[type="text"] {
    width: 50px;
    margin-right: -100px;
}

form .field-name-field-city{
    position: absolute;
    top: 190px;
    width : 310px;
}

.group-coordinates .field-name-field-city{
    left : 250px;
}

.group-coordinates .field-name-field-city input[type="text"] {
    width: 200px;
    margin-right: -50px;
}

.group-etablissement .field-name-field-city,
.group-organisme .field-name-field-city{
    left : 300px;
}

.group-etablissement .field-name-field-city input[type="text"],
.group-organisme .field-name-field-city input[type="text"] {
    width: 200px;
    margin-left: -140px;
}